# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 5024aaa2ab729b45d300c7e4df2235c6277bf6ac1daddf8814347c9f14789f643a8204930ce8b6219596badc5ea37d18e5afd14e37f59b064a3e5c3b77506db0

test:
  secret_key_base: db77544967a9ac3ad5052a03ae98395b22677441bcc34eb7f436dd72c3781b68f3a2df235b4986a2492521dcf2a2bc49ebd247abbcdca7fc70b0c55198859e13

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
